#header {
    height: 100px;
}
    #header_layer1 {
        width: 20%;
        height: inherit;
        background-color: blueviolet;
        float: left;
    }

    #header_layer2 {
        width: 70%;
        height: inherit;
        background-color: bisque;
        float: left;
    }

    #header_layer3 {
        width: 10%;
        height: inherit;
        background-color: darkred;
        float: left;
    }

#navi {
    height: 30px;
    background-color: mediumorchid;
}

#contents {
    height: 400px;
}
    #contents_layer1 {
        width: 15%;
        height: inherit;
        background-color: aqua;
        float: left;
    }

    #contents_layer2 {
        width: 70%;
        height: inherit;
        background-color: coral;
        float: left;
    }

    #contents_layer3 {
        width: 15%;
        height: inherit;
        background-color: darkkhaki;
        float: left;
    }

#footer {
    height: 100px;
    background-color: lawngreen;
}